
h5{
    font-weight: bold;
   color: rgb(99, 29, 190);
    width: 20%;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color:red;
}


  

  #bottom-nav{
    font-size: 10px;
    border-top: 1px solid rgb(180, 180, 180);
  }

  #bottom-nav ul{
    list-style-type: none;
  }

  #bottom-nav li{
    padding: 5px;
  }
#main_background{
  background-image: linear-gradient(rgba(86, 5, 218, 0.898), rgba(135, 19, 243, 0.829)), url("https://thumbs.dreamstime.com/b/online-education-horizontal-border-seamless-pattern-blue-background-hand-drawn-distan-learning-doodles-sketchy-vintage-style-228339362.jpg");
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
   position: relative;
}
#main div{
    background-color: blue;
    width: 100%;
    height: 100%;
}
img{
    width: 100%;
    height: 300px;
    background-repeat: repeat;
    border-radius: 2px;
}

#box{
    background-color:white;
    border-radius: 2px;
    margin: 3px;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    
}

.container{
    border-radius: 2px;
   
}
#More_For_You_List {
    border-radius: 2px;
    padding: 20px;
    color: rgb(7, 7, 7);
    font-size: 16px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(156, 150, 150, 0.2), 0 6px 20px 0 rgba(168, 154, 154, 0.19);
   

}



#col_style a:hover {
text-decoration: none;
}




footer{ 
}
#Partner_logo{
    width: 300px;
    height: 300px;
}

.learing_description{
    font-size: 16px;
    padding: 10px;
   
}

#Get_started{
    padding: 20px;
    border-radius: 0px;
    background-color: rgb(15, 129, 206);

}
#Get_started p{
    color: rgb(247, 247, 247);
    font-size: 12px;
   
}



#intro{
    font-size: 18px;
  text-align:start;
}
#socail_logo{
    width: 20px;
    height: 20px;
}

#follow_us{
    background-color: rgb(255, 255, 255);
}
#follow_us p{
    font-size: 14px;
}

#support_block{
    font-size: 10px;
}

#form-control{
    padding:5px;
    margin-bottom: 10px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #161515;
    text-align: center;
    padding: 14px 16px;
    font-size: 14px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
  }
  
  .topnav a.active {
    background-color: #ffffff;
    color: rgb(3, 61, 128);
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    body{
      font-size: 20px;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a {
        border-bottom: 1px solid rgb(236, 234, 234);
    }
    .topnav a.icon {
      float: right;
      display: block;
    
    }
  }
  
  #learn_moreBtn{
    background:none;
    width: 200px;
    padding:10px 35px;
    margin-top: 20px;
    border-radius: 2px;
    border: none;
    font-size: 20px;
      }
    
      #learn_moreBtn:hover{
        border: none;
        text-decoration: none;
        transform: translate(2px, 1px);
       
      }
    
      #learn_more_style{
        text-decoration: none;
        color: #9d12c0;
      }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    #learn_moreBtn {
      width: 100%;
      border-radius: 1px;
    }
  }

 